<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet" />
  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
  <script th:src="@{/webjars/htmx.org/1.8.5/dist/htmx.min.js}" defer></script>
</head>
<style>
  table,th,td {
    border:1px solid black;
    padding: 5px;
  }
</style>
<body>
<main class="my-5">
  <div class="container">
    <h1 class="mb-4">Homepage</h1>
    <p class="mb-5 js-greeting">Hello World!</p>
    <button>Change greeting</button>
  </div>
  <div id="users" class="container">
    <h1 class="mb-4"><span th:text="${heading}"></span></h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td th:text="${name}"></td>
          <td th:text="${age}"></td>
        </tr>
      </tbody>
    </table>
    <p class="mb-5 js-greeting">Hello World!</p>
    <button>Change greeting</button>
  </div>
  <!-- https://www.youtube.com/watch?v=xibt9JG1i54
       https://youtu.be/xibt9JG1i54?feature=shared&t=31
  -->
  <div>
    <input type="time">
    <input type="date">
    <input type="datetime-local">
  </div>

  <div>
    <div class="form-group row">
      <label for="idAdd" class="col-sm-4 col-form-label">Id: </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="idAdd" name="id" placeholder="Id" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="ddlVehicleAdd" class="col-sm-4 col-form-label">Vehicle: </label>
      <div class="col-sm-6">
        <select id="ddlVehicleAdd" name="vehicleid" class="form-control">
          <option>-SELECT-</option>
          <option th:each="vehicle : ${vehicles}"
                  th:value="${vehicle.id}"
                  th:text="${vehicle.description}">
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="ddlClientAdd" class="col-sm-4 col-form-label">Client: </label>
      <div class="col-sm-6">
        <select  id="ddlClientAdd" name="clientid" class="form-control" >
          <option>-SELECT-</option>
          <option th:each="client : ${clients}"
                  th:value="${client.id}"
                  th:text="${client.name}">
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="dateOutAdd" class="col-sm-4 col-form-label">Date Out: </label>
      <div class="col-sm-6">
        <input type="date" class="form-control" id="dateOutAdd" name="dateOut" placeholder="Date Out">
      </div>
    </div>
    <div class="form-group row">
      <label for="timeOutAdd" class="col-sm-4 col-form-label">Time Out:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="timeOutAdd" name="timeOut" placeholder="Time Out">
      </div>
    </div>
  </div>

<!--  <div th:text=${#calendars.createNow()}"></div>-->
  <div th:text="${#calendars.format(cal)}">Calendar Format</div><br>
  <br>
  <div th:text="${#calendars.formatISO(cal)}">Calendar Format ISO</div><br>
  <br>
  <div th:text="${#calendars.create(2022, 12, 31)}">Create Calendar</div><br>
  <br>
  <div th:text="${#calendars.day(cal)}">Day of Month</div><br>
  <br>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>


  <div>
    <div class="container-fluid px-0 px-sm-4 mx-auto">
      <div class="row justify-content-center mx-0">
        <div class="col-lg-10">
          <div class="card border-0">
            <form autocomplete="off">
              <div class="card-header bg-dark">
                <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                  <input type="text" id="dp1" class="datepicker" placeholder="Pick Date" name="date" readonly><span class="fa fa-calendar"></span>
                </div>
              </div>
              <div class="card-body p-3 p-sm-5">
                <div class="row text-center mx-0">
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">9:00AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">9:30AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">9:45AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">10:00AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">10:30AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">10:45AM</div></div>
                </div>
                <div class="row text-center mx-0">
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">11:00AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">11:30AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">11:45AM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">12:00PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">12:30PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">12:45PM</div></div>
                </div>
                <div class="row text-center mx-0">
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">1:00PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">1:30PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">1:45PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">2:00PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">2:30PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">2:45PM</div></div>
                </div>
                <div class="row text-center mx-0">
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">3:00PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">3:30PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">4:15PM</div></div>
                  <div class="col-md-2 col-4 my-1 px-2"><div class="cell py-1">5:00PM</div></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>